@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body { background-color: pink;
  }

.header { background-color:white;
    color: hotpink;
    width: 100%;
}
.header::before {content: "🍓";}

.home  {text-align: end; }


.button { background-color: hotpink; 
    border: hotpink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border-width: 5px; 
}

.button:hover { transition-duration: 0.15s;
    padding: 18px 37px;
    font-size: 19px;
}
h1 { font-family: 'Bebas Neue';
    text-align: center;
        color: hotpink;
        font-size: 500%;
        margin-top: 10%;
        text-shadow: 2px 2px 2px pink;
    }

.explore { text-align: end;}