body { background-image: url("/backgrsandias.jpeg");
opacity: 0.7;
  }

.header { background-color: rgb(252, 192, 201);
}
.button {background-color: hotpink; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}

    h1 { text-align: center;
        color: black;
        font-size: 200%;
        margin-top: 10%;
        text-shadow: 2px 2px 2px white;
    }