body { background-color: white;
  }

.header { background-color:pink;
}
.header::before {content: "";


.button {background-color: pink; 
    border: hotpink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border-width: 5px;
    }

.button:hover {background-color: hotpink;}

h1 { text-align: center;
        color: hotpink;
        font-size: 400%;
        margin-top: 10%;
        text-shadow: 2px 2px 2px pink;
    }