@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.contenedor { display:grid;
    grid-template:  100px 1fr 100px / 1fr;
    grid-template-areas: "header"
                         "body"
                         "footer";
}

body { background-color: pink;
    grid-area: body;
    margin: 0%;
}

.header { font-family: 'Bebas Neue';
    background-color:white;
    color: hotpink;
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-area: header;
    margin: 0%;
    height: 50px;
}
.header::before {content: "🍓";
}
 
.intro { font-family: 'Bebas Neue';
    text-align: center;
        color: hotpink;
        font-size: 300%;
        margin-top: 30px;
        text-shadow: 2px 2px 2px pink;
    }

.pop {display:flex;
    flex-direction: row;  
    justify-content: space-evenly;
}

.cover1 {
    display: flex;
    flex-direction: column;
    margin: none;
}
.img1 { -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img1:hover { -webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.item { color: hotpink;
}

.title { color: white;
    margin: 25px;
    font-family: 'Bebas Neue';
}

.footer  { grid-area: footer;
    color: hotpink;
    margin-left: 40px;
}