@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.contenedor { display:grid;
    grid-template:  150px 1fr 100px / 1fr;
    grid-template-areas: "header"
                         "body"
                         "footer";
}

body { background-color: #EFD3B5;
    grid-area: body;
    margin: 0%;
}

.header { font-family: 'Bebas Neue';
    background-color:white;
    color: hotpink;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    height: 75px;
}
.musify::before {content: "🍓";
}
.musify {margin: 18px;
}
 
.intro { font-family: 'Bebas Neue';
    text-align: center;
        color: hotpink;
        font-size: 300%;
        margin-top: 30px;
        text-shadow: 2px 2px 2px pink;
    }

.pop {display:flex;
    flex-direction: row;  
    justify-content: space-evenly;
}

.cover1 {
    display: flex;
    flex-direction: column;
    margin: none;
}
.img1 { -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img1:hover { -webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.item { color: hotpink;
}

.title { color: white;
    margin: 25px;
    font-family: 'Bebas Neue';
}

.footer  { grid-area: footer;
    color: hotpink;
    margin-left: 40px;
}
.button { color: hotpink;
    border-style: none;
}

.inicio { color: hotpink;
    margin: 25px;
}
/*.inicio:hover { ;
} */

@media screen and (max-width: 850px) { .pop {display:grid;
    grid-template:  1fr 1fr / 1fr 1fr;
    margin: 25px;}
}


@media screen and (max-width: 600px) { .pop {display:flex;
    flex-direction: column;  
    margin: 25px;}
}
    

